<li>
  <%= link_to bookmark.title, bookmark.url %> 
  (<%= link_to t("links.detail_bookmarks"), bookmark_path(bookmark) %> |
  <%= link_to t("links.edit_bookmark"), edit_bookmark_path(bookmark) %> |
  <%= link_to t("links.delete_bookmark"), bookmark, confirm: t('messages.confirm_delete'), method: :delete %>)
</li>
